<% layout('layouts/boilerplate') %>
    <div class="header">
        <h1 id="title">Edward Mason</h1>
        <p id="description">A project so that we can monitor Ed's progress and find a path which benefits him</p>

    </div>
    <div id="scoreDescription">
        <div id="container">
            <h1>Score description</h1>
            <p>For the purpose of this project we are going to classify Ed's mood
                as going into two main directions.<br><br>
                Sometimes his mood will be elevated, however,
                he will be misbehaving to try and get a reaction from you. In this scenario he may
                be breaking things or doing a runner whilst laughing. This will be defined
                by the positive scores in the mood question box.(Get some hints and tips from leighen for this mood)
                <br><br>
                At other times his mood may present in the opposite manner.
                This more classically looks like a bad mood as he becomes reserved,
                avoids interacting and potentially angry. Some clues as to when this
                is happening is hiding under a blanket, violence and vocabulary such as 'Go away'
                and repeating 'No'. (Get some hints and tips from leighen for this mood)
            </p>
        </div>
        <div id="container">
            <h1>Score examples</h1>
            <p>-5 - get leighens advice <br>
                -5 - get leighens advice <br>
                -5 - get leighens advice <br>
                -5 - get leighens advice <br>
                -5 - get leighens advice <br>
                -5 - get leighens advice <br>
                -5 - get leighens advice <br>
                -5 - get leighens advice <br>
                -5 - get leighens advice <br>
                -5 - get leighens advice <br>
                -5 - get leighens advice <br></p>
        </div>
    </div>
    <div id="wakeUp">
        <div id="overnight">
            <div id="container">
                <form id="night" method="POST" action="/night">

                    <fieldset>
                        <p>What time did Ed wake up?</p>
                        <input type="radio" id="9" name="night[wake]" value="900">
                        <label for="9">9:00</label>
                        <input type="radio" id="9:30" name="night[wake]" value="930">
                        <label for="9:30">9:30</label>
                        <input type="radio" id="10" name="night[wake]" value="1000">
                        <label for="10:00">10:00</label>
                        <input type="radio" id="10:30" name="night[wake]" value="1030">
                        <label for="10:30">10:30</label>
                        <input type="radio" id="11" name="night[wake]" value="1100">
                        <label for="11">11:00</label>
            </div>

            <div id="container">

                <p>Where there any night events?</p>

                <input type="radio" id="yes" name="night[nightEvents]" value="yes">
                <label for="yes">Yes</label>
                <input type="radio" id="no" name="night[nightEvents]" value="no">
                <label for="no">No</label>
                <input type="hidden" name="night[time][year]" value="<%= new Date().getUTCFullYear() %>">
                <input type="hidden" name="night[time][month]" value="<%= new Date().getUTCMonth() %>">
                <input type="hidden" name="night[time][day]" value="<%= new Date().getUTCDate() %>">
                <input id="submit" type="submit" value="submit">
                </fieldset>
                </form>
            </div>
            <div id="container">
                <p>Ear tweak time completed today</p>
                <p>
                    <%-ear%>
                </p>

            </div>
        </div>
    </div>
    <div id="wrapper">
        <form method="post" action="/note">

            <input type="hidden" name="update[time][year]" value="<%= new Date().getUTCFullYear() %>">
            <input type="hidden" name="update[time][month]" value="<%= new Date().getUTCMonth() %>">
            <input type="hidden" name="update[time][day]" value="<%= new Date().getUTCDate() %>">
            <button name="update[hour]" value="9">9</button>
        </form>
        <form method="post" action="/note">

            <input type="hidden" name="update[time][year]" value="<%= new Date().getUTCFullYear() %>">
            <input type="hidden" name="update[time][month]" value="<%= new Date().getUTCMonth() %>">
            <input type="hidden" name="update[time][day]" value="<%= new Date().getUTCDate() %>">
            <button name="update[hour]" value="10">10</button>
        </form>
        <form method="post" action="/note">

            <input type="hidden" name="update[time][year]" value="<%= new Date().getUTCFullYear() %>">
            <input type="hidden" name="update[time][month]" value="<%= new Date().getUTCMonth() %>">
            <input type="hidden" name="update[time][day]" value="<%= new Date().getUTCDate() %>">
            <button name="update[hour]" value="11">11</button>
        </form>
        <form method="post" action="/note">

            <input type="hidden" name="update[time][year]" value="<%= new Date().getUTCFullYear() %>">
            <input type="hidden" name="update[time][month]" value="<%= new Date().getUTCMonth() %>">
            <input type="hidden" name="update[time][day]" value="<%= new Date().getUTCDate() %>">
            <button name="update[hour]" value="12">12</button>
        </form>
        <form method="post" action="/note">

            <input type="hidden" name="update[time][year]" value="<%= new Date().getUTCFullYear() %>">
            <input type="hidden" name="update[time][month]" value="<%= new Date().getUTCMonth() %>">
            <input type="hidden" name="update[time][day]" value="<%= new Date().getUTCDate() %>">
            <button name="update[hour]" value="13">13</button>
        </form>
        <form method="post" action="/note">

            <input type="hidden" name="update[time][year]" value="<%= new Date().getUTCFullYear() %>">
            <input type="hidden" name="update[time][month]" value="<%= new Date().getUTCMonth() %>">
            <input type="hidden" name="update[time][day]" value="<%= new Date().getUTCDate() %>">
            <button name="update[hour]" value="14">14</button>
        </form>
        <form method="post" action="/note">

            <input type="hidden" name="update[time][year]" value="<%= new Date().getUTCFullYear() %>">
            <input type="hidden" name="update[time][month]" value="<%= new Date().getUTCMonth() %>">
            <input type="hidden" name="update[time][day]" value="<%= new Date().getUTCDate() %>">
            <button name="update[hour]" value="15">15</button>
        </form>
        <form method="post" action="/note">

            <input type="hidden" name="update[time][year]" value="<%= new Date().getUTCFullYear() %>">
            <input type="hidden" name="update[time][month]" value="<%= new Date().getUTCMonth() %>">
            <input type="hidden" name="update[time][day]" value="<%= new Date().getUTCDate() %>">
            <button name="update[hour]" value="16">16</button>
        </form>
        <form method="post" action="/note">

            <input type="hidden" name="update[time][year]" value="<%= new Date().getUTCFullYear() %>">
            <input type="hidden" name="update[time][month]" value="<%= new Date().getUTCMonth() %>">
            <input type="hidden" name="update[time][day]" value="<%= new Date().getUTCDate() %>">
            <button name="update[hour]" value="17">17</button>
        </form>
        <form method="post" action="/note">

            <input type="hidden" name="update[time][year]" value="<%= new Date().getUTCFullYear() %>">
            <input type="hidden" name="update[time][month]" value="<%= new Date().getUTCMonth() %>">
            <input type="hidden" name="update[time][day]" value="<%= new Date().getUTCDate() %>">
            <button name="update[hour]" value="18">18</button>
        </form>
    </div>

    </div>