<% layout('layouts/boilerplate') %>
    <h1 class="formTitle">Update <%-update.hour%>:00 submission</h1>
    <h2>
        <form action="/note/<%=update._id%>?_method=PUT" method="POST">
            <div id="container">

                <fieldset id="field">


                    <div class="formDiv">
                        <label for="person">Person</label>
                        <select class="form-select" name="update[person]" id="person" required>
                            <option value="<%= update.person %>">
                                <%= update.person %>
                            </option>
                            <option value="Leighan">Leighan</option>
                            <option value="George">George</option>
                            <option value="Hannah">Hannah</option>
                            <option value="Ewelina">Ewelina</option>
                            <option value="Miriam">Miriam</option>
                        </select>
                        <div class="invalid-feedback">Invalid mother fucker</div>

                    </div>
                    <div class="formDiv">
                        <label for="mood">Mood</label>
                        <select class="form-select" name="update[mood]" id="mood" required>
                            <option value="<%= update.mood %>">
                                <%= update.mood %>
                            </option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>

                    </div>

                    <div class="formDiv">
                        </select>
                        <label for="food">Food</label>
                        <select class="form-select" name="update[food]" id="food" required>
                            <option value="<%= update.food %>">
                                <%= update.food %>
                            </option>
                            <option value="gluten">Gluten</option>
                            <option value="dairy">Dairy</option>
                            <option value="highSugar">High sugar</option>
                            <option value="none">none</option>
                        </select>
                    </div>
                    <div class="formDiv">
                        <label for="incident">Incident</label>
                        <select class="form-select" name="update[incident]" id="incident" required>
                            <option value="<%= update.incident %>">
                                <%= update.incident %>
                            </option>
                            <option value="mild">Mild</option>
                            <option value="moderate">Moderate</option>
                            <option value="severe">Severe</option>
                            <option value="bathroom">Bathroom related</option>
                            <option value="none">None</option>
                        </select>
                    </div>
                    <div class="formDiv">
                        <label for="ear">Ear tweaks</label>
                        <select class="form-select" name="update[ear]" id="ear" required>
                            <option value="<%= update.ear %>">
                                <%= update.ear %>
                            </option>
                            <option value="0">0 Minutes</option>
                            <option value="5">5 Minutes</option>
                            <option value="10">10 Minutes</option>
                            <option value="15">15 Minutes</option>
                            <option value="20">20 Minutes</option>
                        </select>
                    </div>

                    <div class="formDiv">
                        <label for="activity">Dominant activity</label>
                        <select class="form-select" name="update[activity]" id="activity" required>
                            <option value="<%= update.activity %>">
                                <%= update.activity %>
                            </option>
                            <option value="tv">TV</option>
                            <option value="bed">Bed/rest/sleeping</option>
                            <option value="inside">Inside and playful</option>

                            <option value="outside">Outside</option>
                            <option value="outHouse">Out the house activity</option>
                            <option value="meal">Meal</option>

                        </select>
                    </div class="formDiv">

                    <div id="submitDiv" class="selectDiv">
                        <input id="submit" type="submit" value="submit">
                    </div>
                </fieldset>


        </form>

    </h2>



    <div id="container">
        <form action="/note/<%=update._id%>/?_method=DELETE" method="POST">
            <button class="nav">Delete</button>
        </form>
    </div>
    <div id="container">
        <form action="/" method="Get">
            <button class="nav">Home</button>
        </form>
    </div>